{% extends 'baseBack.html.twig' %}

{% block title %}<title>Modifier Condidature</title>{% endblock %}

{% block body %}

     <div class="card" style="margin-left:40px;margin-top:25px;margin-right:40px;">
        <div class="card-header" align="center">
            <strong>Modifier</strong> Offre
        </div>
        {{ include('condidature/_form.html.twig', {'button_label': 'Update'}) }}
        <div style="margin-left:360px; margin-top:-17px;">
            {{ include('condidature/_delete_form.html.twig') }}
        </div>
        <button class="btn btn-sm" style="background-color: white; margin-right:auto;"> 
                <a href="{{ path('app_condidature_index') }}"><img  src="{{ asset('BackOffice/img/retour.png') }}" style="width: 30px; height: 30px;"></a>
            </button>
    </div>


{% endblock %}
