{% extends 'baseBack.html.twig' %}
{% block title %}<title>Edit Library</title>{% endblock %}

{% block body %}
    <div class="card" style="margin-left:40px;margin-top:25px;margin-right:40px;">
        <div class="card-header" align="center">
        <h1 class="mb-4">Edit Library</h1>
        </div>
    {{ include('biblio/_form.html.twig', {'button_label': 'Update'}) }}
        <div style="margin-left:380px; margin-top:-12px;">
    {{ include('biblio/_delete_form.html.twig') }}
        </div>
            <button class="btn btn-sm" style="background-color: white; margin-right:auto;"> 
                <a href="{{ path('app_biblio_index') }}"><img  src="{{ asset('BackOffice/img/svg/arriere.png') }}" style="width: 40px; height: 40px;"></a>
            </button>        
    </div>

{% endblock %}
