{% extends 'baseBack.html.twig' %}
{% block title %}<title>Calendar</title>{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Calendar</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>owner</th>
                    <td>{{ calendrier.proprietaire }}</td>
                </tr>
                <tr>
                    <th>List</th>
                    <td>{{ calendrier.liste }}</td>
                </tr>
               
            </tbody>
        </table>

        <div align="center">
            <a href="{{ path('app_calendrier_index') }}" class="btn btn-secondary btn-sm" style="margin: 2px;">back to the list</a>
           
            </div>
        </div>
    </div>
{% endblock %}
